/* hero footer bg: #1f2937 */
/*  hero main text: 
    48px extra-bold #f9faf8
*/
/* 
    hero secondary, header link
	18px #e5e7eb
*/

/* 
   header logo text 
   24px #f9faf8
*/
/* 
   button color, call to action background color
   #3882f6
*/

/* 
   information header text
   36px extra-bold #1f2937
*/

/*  
    quote section background color
    #e5e7eb
*/
/* 
    quote text
	36px light italic #1f2937
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
	margin:0;
	padding:0;
}

html{
	scroll-behavior:smooth;
    font-family: Roboto;
}

.container{
    font-family: Roboto;
}

/* header */
.navbar{
    background-color:#1f2937;
    display: flex;
    gap:24px;
    padding:10px 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.navbar__logo{
    color:#f9faf8;
    font-weight: 700;
    font-size:24px;
}
.secondary,.nav__item{
    font-size:18px; 
    color:#e5e7eb;
    opacity:0.7;
}

.nav__list{
    display:flex;
    list-style:none;
    gap:16px;
}
.nav__list > li > a{
    text-decoration:none;
    color:#e5e7eb;
    font-size: 18px;
}

/* hero */
.hero{
    background-color: #1f2937;
    color:#f9faf8;
    padding:100px 100px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.hero__left,.hero__right{
    width:50%;
}
.hero__title{
    font-size: 48px;
    font-weight: 700;
    color:#f9faf8;
}
.hero__desc{
    font-size: 18px;
    color:#e5e7eb;   
}
.hero__left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left:50px;
}
.hero__right{
    height:200px;
    width:400px;
    padding-right:50px;
    background:url('./assets/image2.png');
    /* object-fit: cover; */
    background-repeat: no-repeat;
    background-size: 400px 400px;

    border-radius: 15px;
}
.hero__signup{
    margin:10px 0;
    padding:10px 20px;
    border-radius: 5px;
    border:none;
    background-color:#3882f6;
    color:#e5e7eb;
    font-weight: 700;
}

/* content */
.content__first{
    display:flex;
    flex-direction: column;
    padding:10px 100px 100px;
    align-items: center;


}
.content__first__title{
    margin:30px 0;
    font-size: 32px;
    font-weight: 700;
    color:#1f2937;
}
.cards{
    /* margin-left: auto; */
    display:flex;
    gap:30px;
    justify-content: center;

}
.card{
    display:flex;
    flex-direction: column;
    flex-basis:100px;
    transition: 0.2s ease-out;
    
    
}
.card>.img{
    height:100px;
    width:100px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    background:url('./assets/image.jpg');
    background-size: 100px;
}
.card:hover{
    transform: scale(2);
    /* margin:10% 10% 0; */
    transition: 0.2s ease-in;
}
.card__text{
    text-align: center;
    opacity: 0.7;
    color: #1f2937;
}

/* content__second */

.content__second{
    padding:100px 100px;
    display:flex;
    flex-direction: column;
    background-color:#e5e7eb;
    background: url('./assets/image3.jpg');
    background-size:cover;
}

.content__second__quote{
    /*  
    quote section background color
    #e5e7eb
*/
/* 
    quote text
	36px light italic #1f2937
*/

    font-size:36px;
    font-style: italic;
    color:#1f2937;
    opacity: 0.7;
}
.content__second>h3{
    align-self: flex-end;
    padding:0 100px;
    opacity: 0.7;
}

/* content__third */

.content__third{
    padding:100px;
}

.content__third__box{
    background-color: #3882f6;
    color:white;
    padding:40px 100px;
    display: flex;
    justify-content: space-between;
}

.sign__up{
    padding:0px 40px;
    background-color: #3882f6;
    color:white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
}

/* footer */

.footer{
    text-align: center;
    padding:20px;
    background-color: #1f2937;
}
.footer p{
    color:#f9faf8;
    opacity: 0.7;
}


  
  



/* Loading Screen */
#loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f2937;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .loader {
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .loader:before {
    content: "";
    display: block;
    position: absolute;
    left: -200px;
    width: 200px;
    height: 10px;
    background-color: #3e64ff;
    animation: loading 3s infinite;
  }
  
  @keyframes loading {
    0% {
      left: -200px;
    }
    100% {
      left: 100%;
    }
  }
  
  .page-loaded #loading-screen {
    opacity: 0;
    pointer-events: none;
  }
  
  .page-loaded #main-content {
    opacity: 1;
  }
  
  .loader_text{
    padding-left: 10px;
    color:#ddd
  }
  button{
    cursor: pointer;
  }
